<div class="my-3">
   <h2>Take,TakeLast,TakeUnitl</h2>
   <hr>
   <div class="row">
    <p class="bg-light py-3 px-2 border rounded">
        <strong>Member:</strong>
         ['saukat','alli','ajit','animesh','yamin','twinkle'];
    </p>
       <div class="col-md-4">
         <strong>Ex-01. | Take</strong>
         <hr>
         <ul id="elContainer1"></ul>
          
      </div>

      <!--2takeLast-->
      <div class="col-md-4">
        <strong>Ex-02. | TakeLast</strong>
        <hr>
        <ul id="elContainer2"></ul> 
     </div>
     <!--2takuntil-->
     <div class="col-md-4">
        <strong>Ex-03. | TakeUntil</strong>
        <hr>
        <ul id="elContainer3"></ul>
         
     </div>
   </div>
</div>