<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Welcome to Login page</title>
       
    </head>
    <body class="login_bg">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
<div class="login_contatiner">

<div class="login_form">
<div class="row">

    <div   class="col-md-5 login_left" ng-style="{ 'background': 'transparent url(' + eventInfo.eventHeaderImg + ') top center no-repeat' }" >
<div class="text-center mt_90">
    
<img src="/assets/img/logo3.png">

</div>

<div class="text-center mt_35">
    <img src="/assets/img/lgn_img.png">
</div>

<h3 class="text-center text-white f-size23 mt_35">SIGN IN TO YOUR ACCOUNT</h3>
    </div>
    <div class="col-md-7">
    <h4 class="text_grey mt_20 padl24">Signin to Your Account</h4>
<form class=" validate-form">              
        
        <div class="col-md-12"> 
              <div class="form-group username">
            <label>User Name</label>
                <input type="text" id="user_name" name="user_name" class="form-control" placeholder="Username">  
              </div>
          </div>
             <div class="col-md-12"> 
              <div class="form-group password">
              <label>Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">        
              </div>
              </div> 
             
              <div class="form-group">
<div class="col-md-12">
    <img src="/assets/img/captcha.png">
</div>



<div class="col-md-12"> 
    <div class="form-group">
    <label>Type the text displayed above</label>          
                <input type="text" id="" name="" class="form-control" placeholder="Enter Captcha">  
              </div>
          </div>
              </div> 
              <div class="col-md-12">               
              <div class="form-group">            
                <button type="button" class="btn login-form-btn btn-block">LOGIN</button>
              </div>    
               </div>
            </form>
    </div>
</div>
</div>
</div>                        
</div>
</main>
</div>
  
        </div>
        <!-- <script src="js/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script> -->
    </body>
</html>
<!-- <router-outlet></router-outlet> -->