<div class="my-3">
    <h2>ConcatMap Operator</h2>
 
     <div class="row">
        <div class="col-md-4">
           <strong>Ex-01</strong>MergeMap
           <p class="bg-light py-3 px-2 border rounded">
               <strong>Tech Video List:</strong>1,2,3,4,5
           </p>
           
           <hr>
           <ul id="elContainer1"></ul>
        </div>
        <!--2-->
        <div class="col-md-4">
            <strong>Ex-02</strong>Map+ concatAll

           <p class="bg-light py-3 px-2 border rounded">
               <strong>Comedy Video List:</strong>1,2,3
           </p>
      
             <hr>
            <ul id="elContainer2">

            </ul>
        </div>
 
        <!--2-->
        <div class="col-md-4">
            <strong>Ex-03</strong>concateMap

            <p class="bg-light py-3 px-2 border rounded">
               <strong>Nesw Video List:</strong>1,2,3,4
            </p>
      
             <hr>
            <ul id="elContaine3"></ul>
         </div>
 
      </div>

      
 
 </div>
 